PORT=5000
MONGODB_URI=mongodb://localhost:27017/the8store
JWT_SECRET=ddf9bc476beec91d2c744d0751dfbacceaa0f666



mongo atlas password: x6r1qBqGBulH4Z3F
username:   yazanshabloot_db_user




mongodb+srv://yazanshabloot_db_user:x6r1qBqGBulH4Z3F@thehstore.meubnak.mongodb.net/?appName=thehstore
mongodb+srv://yazanshabloot_db_user:x6r1qBqGBulH4Z3F@thehstore.meubnak.mongodb.net/



public URL: https://thehstore-8876687551.europe-west1.run.app



https://thehstore-8876687551.europe-west1.run.app




app password: iuvw ahwh iear hbpq


EMAIL_USER=yazanshyt@gmail.com
EMAIL_PASS=iuvwahwhiearhbpq

